In [ ]:
from msa.odbc import PyODBC

server = PyODBC(
    uri="Server=localhost\SQLEXPRESS01;Database=master;DRIVER={ODBC Driver 18 for SQL Server};"
        "Trusted_Connection=yes;TrustServerCertificate=YES;"
)

In [ ]:
with server.cursor() as c:
    try:
        c.execute(f"DROP TABLE PYMSA_UNITTEST")
    except Exception:
        pass
    c.execute(f"""CREATE TABLE PYMSA_UNITTEST (
int int,
bigint bigint,
bit bit,
decimal decimal,
float float,
real real,
date date,
datetime datetime,
datetime2 datetime2,
smalldatetime smalldatetime,
time time,
string varchar(64) not null,
binary varbinary(64)
)""")
    c.commit()
    c.execute(f"TRUNCATE TABLE PYMSA_UNITTEST")
    c.execute(f"""INSERT INTO PYMSA_UNITTEST (int, string, date)
    VALUES (1, 'test', '2022-10-20'), (null, 'test', null)""")
    c.commit()

### Fetch

In [ ]:
with server.cursor() as c:
    result = c.execute(f"SELECT string, int, date from PYMSA_UNITTEST").fetchall()
    result = [list(row) for row in result]

In [ ]:
with server.cursor() as c:
    c.execute(f"SELECT int, string, date, float, real from PYMSA_UNITTEST")
    result = list(c.fetch_arrow_batches(n=10)) # Iterator pyarrow.RecordBatch

In [ ]:
with server.cursor() as c:
    c.execute(f"SELECT int, string, date, float, real from PYMSA_UNITTEST")
    result = c.fetch_arrow() # all

In [ ]:
with server.cursor() as c:
    c.execute(f"DROP TABLE PYMSA_UNITTEST")
    c.commit()